@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root{
    /* Colors */
    --color_black: #393939;
    --color_black_light: #6C6C6C;
    --color_red: #FF0000;
    --color_white: #FFFFFF;
    --color_orange: #FCB644;
}

body{
    background-color: var(--color_black);
}

.text, button{
    font-size: 36px;
    font-weight: 400;
}

button{
    text-transform: uppercase;
    color: var(--color_black);
}

.text_upper{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_upper, .text{
    color: var(--color_white);
}