.up_block{
    display: flex;
    gap: 50px;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button_disabled{
    background-color: var(--color_white);
}

.button_active{
    background-color: var(--color_orange);
}

.page .correct_symbol{
    color: var(--color_white);
}

.page .incorrect_symbol{
    color: var(--color_red);
}

.page .not_typed_symbol{
    color: var(--color_black_light);
}

.button_restart{
    margin: 0 auto;
    height: 64px;
    width: 64px;
}

@media(max-width:767px) {
    .button_restart{
        width: 48px;
        height: 48px;
    }
}